= content_tag :h1, "New #{@thing.collection.name.singularize.downcase}"
- if @thing.collection.properties.empty?
  %p.info
    \- no properties yet
    = link_to "create one", edit_collection_path(@thing.collection)
- else
  = render 'form'
