%form{id: "search", action: "/search", method: "get", role: "search"}
  %label{for: "site-search"} Search
  %input{type: "search", name: "q", placeholder: "Search"}
  %input{class: "button", type:"submit", value: "Search"}
